<header>
    <h1>Todo List</h1>
    <!-- create new form here -->

    <label class="hide-completed">
        <input type="checkbox" ng-model="$ctrl.hideCompleted"/>
        Hide Completed Tasks
    </label>
    <!-- add login button, super  -->
    <login-buttons align="right"></login-buttons>

    <!-- <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)"> -->
    <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
        <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
        <!-- <input ng-model="$name" type="text" name="name" placeholder="Type to add new tasks"/> -->
    </form>

</header>

<ul>
    <li ng-repeat="task in $ctrl.tasks" ng-class="{'checked': task.checked}" ng-show="$ctrl.currentUser">
        <button class="delete" ng-click="$ctrl.removeTask(task)">delete</button>
        <input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="toggle-checked"/>
        <span class="text">
      <strong>{{task.username}}</strong> - {{task.text}}
            <!-- {{task.name}} -->
    </span>
    </li>
</ul>